.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.avatar {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  color: #fff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-datepicker-popper {
  z-index: 1050 !important; /* Asegúrate de que el calendario esté por encima */
}

/* Ajuste de contenedores de la aplicación */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Media Queries para diferentes dispositivos */

/* Estilo para pantallas medianas (tabletas) */
@media (max-width: 768px) {
  .App-header {
      font-size: calc(12px + 2vmin);
      padding: 10px;
  }
  

  


  @keyframes rotateIn {
    from {
      transform: rotateY(90deg);
      opacity: 0;
    }
    to {
      transform: rotateY(0);
      opacity: 1;
    }
  }
  
  .rotating-card {
    animation: rotateIn 0.5s ease-out;
  }
  
  }